<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>个人信息</span></p></div>
<div class="right-content" align="center">
<p >
<span>工号： &ensp; 姓名：</span>
<input type="text">

    <span >隶属部门：</span>
<select>
    <option>运营管理部</option>
    <option>项目部</option>
    <option>行政管理部</option>
    <option>财政管理部</option>
    <option>经世教育学院</option>
</select>

    <span >职务：</span>
<select>
    <option>部长</option>
    <option>经理</option>
    <option>副经理</option>
    <option>讲师</option>
    <option>院长</option>
</select>

<button>搜索</button>
<button>添加</button>
<button>导出</button>
</p>

<table border="1" align="center" width="900" cellspacing="0" border-left:0px >
    <tr>
        <td>工号</td>
        <td>姓名</td>
        <td>角色</td>
        <td>隶属部门</td>
        <td>职务</td>
        <td>备注</td>
    </tr>

    <tr>
        <td>160282469</td>
        <td>张伟</td>
        <td>运营部员工</td>
        <td>运营管理部</td>
        <td>讲师</td>
        <td><a href="">查看</a>&ensp;&ensp;<a href="">修改</a>&ensp;&ensp;<a href="">删除</a></td>
    </tr>

     <tr>
        <td>160264832</td>
        <td>李冲</td>
        <td>行政部员工</td>
        <td>行政管理部</td>
        <td>秘书</td>
        <td><a href="">查看</a>&ensp;&ensp;<a href="">修改</a>&ensp;&ensp;<a href="">删除</a></td>
    </tr>

     <tr>
        <td>1608936247</td>
        <td>王斌</td>
        <td>财务部员工</td>
        <td>财务管理部</td>
        <td>会计员</td>
        <td><a href="">查看</a>&ensp;&ensp;<a href="">修改</a>&ensp;&ensp;<a href="">删除</a></td>
    </tr>
</table>
</div>
</body>
</html>