<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" type="text/css" href="../../static/CSS/left.css">
</head>
<body>
<div style="float:left;height: 571px; width: 19%;" class="left_column">
    <div class="left_top"><h5>系统管理</h5></div>
    <div class="left_tab"><a href=""><p>项目管理</p></a>
    <a href="{{ url_for('system.s_user')}}" target="system"><p>用户管理</p></a>
    <a href=""><p>部门管理</p></a>
    <a href=""><p>功能管理</p></a>
    <a href=""><p>权限管理</p></a></div>
</div>

<iframe name="system" style="float:right;width:80%;height:571px;overflow:auto" align="top"></iframe>
</body>
</html>