h5{
    background-color: #3399fe;
    font-size: 18px;
    color: white;
    border-radius:10px;
    width: 80%;
    margin: 10px 10px auto auto;
    padding: 2px 2px 0 0;
}
a{
    text-decoration:none;
    color: #3399fe;
}
.left_column{
    background-color:#e1e7f5;
    text-align: center;
    height: 551px;
}
.left_top{
    background-color: #b5d6f9;
    height: 50px;
    padding: 5px 5px 0 0;
}
.left_tab{
    background-color: #d5dbe9;
    text-align: center;
    padding: 5px 5px 0 0;
}
p:hover{
    font-weight: bold;
    color: black;
    background-color:#3399fe ;
}

