<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/CSS/left.css">
</head>
<body>
<div id="header" style="float: left; width: 19%" class="left_column">
    <div class="left_top"> <h5>资源信息</h5></div>
    <div class="left_tab">
       <a href="{{ url_for('resource.r_study')}}" target="resource"><p>学习资源</p></a>
        <a href="{{ url_for('resource.r_project')}}" target="resource"><p>项目资源</p></a>
    </div>
</div>
<iframe name="resource" style="float:right;width:80%;height:571px;overflow:auto" align="top"></iframe>
</body>
</html>
