<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fire</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>离职员工信息</span></p></div>

<div class="right-content" align="center">
    实际离职时间：
    <select name="year">
        <option name="2017">2019</option>
        <option name="2017">2018</option>
        <option name="2017">2017</option>
    </select>-
    <select name="month">
        <option name="1">01</option>
        <option name="2">02</option>
        <option name="3">03</option>
    </select>-
    <select name="day">
        <option name="1">01</option>
        <option name="2">02</option>
        <option name="3">03</option>
    </select>
    姓名：<input type="text" width="15px">
    工号：<input type="text" width="15px"><br>
    <p><input type="button" value="搜索">
    <input type="button" value="添加">
    <input type="button" value="导出"></p>

    <table cellspacing="0" border="1">
        <tr>
            <td>预计离职时间</td>
            <td>实际离职时间</td>
            <td>离职人</td>
            <td>工号</td>
            <td>部门</td>
            <td>职务</td>
            <td>离职原因</td>
            <td>是否交接工作</td>
            <td>状态</td>
            <td>备注</td>
        </tr>

        <tr>
            <td>2019-02-09</td>
            <td>2019-02-09</td>
            <td>张三</td>
            <td>1910602142</td>
            <td>运营管理部</td>
            <td>运营经理</td>
            <td>个人原因</td>
            <td>是</td>
            <td>离职</td>
            <td><a href="">修改</a>&ensp;&ensp;<a href="">个人详情</a></td>
        </tr>

         <tr>
            <td>2019-02-29</td>
            <td></td>
            <td>李会</td>
            <td>1910602132</td>
            <td>行政管理部</td>
            <td>行政经理</td>
            <td>个人原因</td>
            <td>否</td>
            <td>在职</td>
            <td><a href="">修改</a>&ensp;&ensp;<a href="">个人详情</a></td>
        </tr>
        <tr>
            <td>2019-09-29</td>
            <td></td>
            <td>刘辉</td>
            <td>1910602112</td>
            <td>开发管理部</td>
            <td>产品经理</td>
            <td>个人原因</td>
            <td>否</td>
            <td>在职</td>
            <td><a href="">修改</a>&ensp;&ensp;<a href="">个人详情</a></td>
        </tr>
    </table>
</div>
</body>
</html>