<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固定资产</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>资产基本信息</span></p></div>
<div class="right-content" align=center>
<strong>固定资产明细表</strong>
<table border="1" cellspacing="0" class="ttable">
    <tr>
        <th>编号</th>
        <th>资产类别</th>
        <th>名称</th>
        <th>单位</th>
        <th>数量</th>
        <th>单价</th>
    </tr>
    <tr >
        <th rowspan="6">生产设备</th>
        <td>生产设备</td>
        <td>电脑</td>
        <td>台</td>
        <td>950</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>生产设备</td>
        <td>投影机</td>
        <td>台</td>
        <td>900</td>
        <td>1000</td>
    </tr>
    <tr>
        <td>生产设备</td>
        <td>打印机</td>
        <td>台</td>
        <td>20</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>生产设备</td>
        <td>键盘</td>
        <td>个</td>
        <td>950</td>
        <td>200</td>
    </tr>
    <tr>
        <td>生产设备</td>
        <td>显示器</td>
        <td>台</td>
        <td>1000</td>
        <td>1500</td>
    </tr>
    <tr>
        <td>生产设备</td>
        <td>鼠标</td>
        <td>个</td>
        <td>1000</td>
        <td>240</td>
    </tr>
    <tr>
        <th rowspan="7">办公用品</th>
        <td>办公用品</td>
        <td>考勤机</td>
        <td>台</td>
        <td>2</td>
        <td>110</td>
    </tr>
        <tr>
        <td>办公用品</td>
        <td>办公桌</td>
        <td>张</td>
        <td>290</td>
        <td>500</td>
    </tr>
    <tr>
        <td>办公用品</td>
        <td>制冷饮水机</td>
        <td>台</td>
        <td>5</td>
        <td>320</td>
    </tr>
    <tr>
        <td>办公用品</td>
        <td>宽带</td>
        <td>套</td>
        <td>5</td>
        <td>150</td>
    </tr>
    <tr>
        <td>办公用品</td>
        <td>考勤架</td>
        <td>个</td>
        <td>2</td>
        <td>20</td>
    </tr>
    <tr>
        <td>办公用品</td>
        <td>空调</td>
        <td>台</td>
        <td>40</td>
        <td>1320</td>
    </tr>
    <tr>
        <td>厨房用品</td>
        <td>厨房餐具</td>
        <td>套</td>
        <td>2</td>
        <td>1380</td>
    </tr>
    <tr>
        <th rowspan="2">其他</th>
        <td>租金</td>
        <td>办公室租金</td>
        <td>元</td>
        <td>1</td>
        <td>15000</td>
    </tr>
    <tr>
        <td>每月开销</td>
        <td>水电气费</td>
        <td>元</td>
        <td>1</td>
        <td>7230</td>

    </tr>
</table>
</div>
</body>
</html>