<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开设专业</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>开设专业</span></p></div>
<div class="right-content" align="center">
<p >
<span >年级：</span>
<select>
    <option>全部</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
</select>

<span>专业名称：</span>
    <input type="text">
<button>搜索</button>
<button>添加</button>
<button>导出</button>
</p>

<table border="1" align="center" width="800" hight="50" cellspacing="0" cellpadding="15">
    <tr bgcolor="#C4E1FF">
        <td >序号</td>
        <td>项目部</td>
        <td>年级</td>
        <td>专业名称</td>
        <td>专/本</td>
        <td>学制</td>
        <td>收费标准</td>
        <td>备注</td>
    </tr>

    <tr bgcolor="#FFECEC">
        <td>1</td>
        <td>天津项目</td>
        <td>2010</td>
        <td>通讯工程</td>
        <td>本</td>
        <td>3</td>
        <td>4000</td>
        <td></td>
    </tr>

     <tr bgcolor="#FFECEC">
        <td>2</td>
        <td>重庆项目</td>
        <td>2010</td>
        <td>计算机科学</td>
        <td>本</td>
        <td>4</td>
        <td>4000</td>
        <td></td>
    </tr>

     <tr bgcolor="#FFECEC">
        <td>2</td>
        <td>北京项目</td>
        <td>2010</td>
        <td>英语</td>
        <td>专</td>
        <td>4</td>
        <td>4000</td>
        <td></td>
    </tr>
</table>
</div>
</body>
</html>