<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员信息</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>人员信息</span></p></div>
<div class="right-content">
<p align=center>
<span>项目部：</span>
<input type="text">

<span>姓名：</span>
<input type="text">
<button>搜索</button>
<button>添加</button>
<button>导出</button>
</p>

<table border="1" align="center" width="900" cellspacing="0" border-left:0px >
    <tr>
        <td>序号</td>
        <td>项目部</td>
        <td>姓名</td>
        <td>性别</td>
        <td>级别</td>
        <td>电话</td>
        <td>方向</td>
        <td>入职时间</td>
        <td>学历</td>
        <td>毕业院校</td>
        <td>专业</td>
        <td>邮箱</td>
        <td>备注</td>
    </tr>

    <tr>
        <td>1</td>
        <td>南工部</td>
        <td>小熊</td>
        <td>男</td>
        <td>无</td>
        <td>17455481</td>
        <td>-</td>
        <td>2013-09-06</td>
        <td>本科</td>
        <td>重庆大学</td>
        <td>英语</td>
        <td>1842456@qq.com</td>
        <td></td>
    </tr>

     <tr>
        <td>2</td>
        <td>北工部</td>
        <td>小毛</td>
        <td>女</td>
        <td>无</td>
        <td>1744771</td>
        <td>-</td>
        <td>2014-09-06</td>
        <td>本科</td>
        <td>重庆大学</td>
        <td>计算机</td>
        <td>1815486@qq.com</td>
        <td></td>
    </tr>

    <tr>
        <td>3</td>
        <td>西工部</td>
        <td>小西</td>
        <td>女</td>
        <td>无</td>
        <td>1744771</td>
        <td>光传输</td>
        <td>2014-09-06</td>
        <td>本科</td>
        <td>重庆大学</td>
        <td>软件工程</td>
        <td>28957486@qq.com</td>
        <td></td>
    </tr>


</table>
</div>
</body>
</html>