<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>学生信息</span></p></div>
<div class="right-content" align=center>
<p >
<span>学号：</span>
<input type="text">

<span>姓名：</span>
<input type="text">
<button>搜索</button>
<button>添加</button>
<button>导出</button>
</p>

<table border="1" align="center" width="1200" cellspacing="0" border-left:0px >
    <tr>
        <td>序号</td>
        <td>项目部</td>
        <td>学号</td>
        <td>姓名</td>
        <td>性别</td>
        <td>身份证号</td>
        <td>年级</td>
        <td>专业名称</td>
        <td>班级</td>
        <td>家庭住址</td>
        <td>家庭电话</td>
        <td>个人电话</td>
        <td>QQ</td>
        <td>常用邮箱</td>
        <td>状态</td>
        <td>备注</td>
    </tr>

    <tr>
        <td>1</td>
        <td>南工部</td>
        <td>1803774</td>
        <td>小熊</td>
        <td>男</td>
        <td>36483716956965782658761</td>
        <td>2018</td>
        <td>计算机</td>
        <td>计科一班</td>
        <td>重庆市渝北区</td>
        <td>1418936849</td>
        <td>1247896417</td>
        <td>163864981</td>
        <td>163864981@qq.com</td>
        <td>在校</td>
        <td></td>
    </tr>


     <tr>
        <td>2</td>
        <td>北工部</td>
        <td>1804267</td>
        <td>小北</td>
        <td>男</td>
        <td>363982591865810644500</td>
        <td>2018</td>
        <td>计算机</td>
        <td>计科二班</td>
        <td>重庆市沙坪坝区</td>
        <td>418790710</td>
        <td>3712950757</td>
        <td>362814608</td>
        <td>362814608@qq.com</td>
        <td>在校</td>
        <td></td>
     </tr>


</table>
</div>
</body>
</html>