<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实训平台</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>实训平台</span></p></div>
<div class="right-content" align=center>
<table border="1" cellspacing="0" class="ttable">
    <tr>
        <th >通信</th>
        <td>通信导论</td>
        <td>数据通信技术</td>
        <td>光传输技术</td>
        <td>通信网络组键综合实训</td>
        <td>LTE 4G移动通信技术</td>
        <td>LTE 无线网络优化</td>
        <td> 通信工程设计</td>
    </tr>
    <tr>
        <th>智能制造</th>
        <td>工业机器人技术基础</td>
        <td>智能工厂设备通信</td>
        <td>工厂数据采集与监控</td>
        <td>工业机器人编程与应用</td>
        <td>工业机器人工程实践</td>
        <td>智能制造技术与应用</td>
        <td>机器人控制系统开发</td>
    </tr>
    <tr>
        <th>云计算</th>
        <td>云应用系统开发</td>
        <td>虚拟化技术</td>
        <td>云存储技术</td>
        <td>云平台运维技术</td>
        <td>云数据中心基础</td>
        <td>云网络</td>
        <td>信息安全</td>
    </tr>
    <tr>
        <th>物联网</th>
        <td>物联网APP</td>
        <td>物联网方案设计与实现</td>
        <td>物联网云平台设计与开发</td>
        <td>物联网智能网关设计与开发</td>
    </tr>


</table>
</div>
</body>
</html>