<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conference</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>会议</span></p></div>

<div class="right-content" align="center">
<article>
    <p><h4>一、目的：</h4>为了让企业文化真正在员工心中落地生根，继续加强员工凝聚力，表彰先进树立楷模，激励员工奋发上进。</p>
    <p><h4>二、会议宗旨：</h4>通过互动类节目弘扬和体会长城企业文化，感知公司领导对员工的关怀，总结过去，展望未来。</p>
    <p><h4>三、时间：</h4>2023年1月18日下午1：30-4：30</p>
    <p><h4>四、地点</h4>公司六楼娱乐室</p>
    <p><h4>五、参与人员</h4>全体新入职员工</p>
</article>
</div>

</body>
</html>