<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HuiWu</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span>会务</span></p></div>

<div class="right-content" >
<h4>环境布置：</h4>
    &emsp;&emsp;(一) 会场外区域布置：
    悬挂横幅，表示对各位参会的企业家的热烈欢迎。<br>
    &emsp;&emsp;(二) 会场内区域布置：<br>　　
    1、购置白板，准备好相应的办公文具等。<br>　　
    2、把原来的围桌撤掉，放进大约40张椅子，供与会人员就做。(必要时可以给领导安排座椅，座椅上贴有领导的名字，以便对号入座)　<br>　
    &emsp;3、需饮水机一台，以便于与会人员休息时饮水。　　
<h4>人员配置：</h4>
  &emsp;&emsp;(一)会前布置：
    人员于8：40左右安排就位，公司一楼门前设接待人员一名，二楼会议室门前设接待一名。<br>
  &emsp;&emsp;(二)会中布置：
    安排三名我公司员工，进行会中服务，一名服务人员将为讲师服务，配合讲师顺利完成此次培训；一名服务人员负责饮水等工作；另一名服务人员，在办公室，负责行政保障工作。<br>
  &emsp;&emsp;(三)会后布置：
    培训完毕后，可按派我公司一到两名员工，进行疏导企业家离开会场。<br>
  &emsp;&emsp;(四)午休时间布置：
    会议人员如有需要，可由我公司派出员工与通力机电城接待处联系解决中午就餐问题，午休时，需安排一名员工在前台坐班，为与会人员提供服务。
</div>
</body>
</html>