<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>affair</title>
    <link type="text/css" rel="stylesheet" href="../../static/CSS/left.css">
</head>
<body>
<div style="float: left; width: 19%" class="left_column">
    <div class="left_top"><h5>会议会务</h5></div>
    <div class="left_tab">
    <a href="{{ url_for('affair.a_conference')}}" target="affair"><p>会议</p></a>
    <a href="{{ url_for('affair.a_huiwu')}}" target="affair">会务</a></div>
</div>
<iframe style="float:right;width:80%;height: 551px" name="affair"></iframe>
</body>
</html>