<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top">
    <p><span >留言</span></p>
</div>
<div class="right-content">
    <h3><strong>梁部长：</strong></h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;刚来了一个项目，需要讲师，你看看能不能完成这个项目？----2022-03-13</p>
    <hr>
    <p><h3><strong>闫部长：</strong></h3></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今天需要提交一份会议纪要，抓紧时间整理出来----2022-02-24</p>
    <hr>
    <p><h3><strong>李部长：</strong></h3></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目进度有些落后，看看能够阻止人员赶工----2022-02-24</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<del>按进度应完成80%，实际仅完成60%</del></p>
    <hr>
</div>
</body>
</html>