<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>record</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span >考勤记录</span></p></div>
<div class="right-content" align="center">
        <form>
            <h2 >员工考勤记录表</h2>
            <table border="1" cellspacing="0" class="ttable">
                <tr>
                    <td>项目</td>
                    <td>出勤</td>
                    <td>休假</td>
                    <td>迟到</td>
                    <td>早退</td>
                    <td>旷职</td>
                </tr>
                <tr>
                    <td>一</td>
                    <td>日数</td>
                    <td>日数</td>
                    <td>日数</td>
                    <td>日数</td>
                    <td>日数</td>
                </tr>
                <tr>
                    <td>二</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>三</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>四</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>五</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                  <tr>
                    <td>六</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                  <tr>
                    <td>七</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>八</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>九</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>十</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                  <tr>
                    <td>十一</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                  <tr>
                    <td>十二</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                  <tr>
                    <td>总计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
        </form>
</div>
</body>
</html>