<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conference</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span >会议记录</span></p></div>
<div class="right-content" align="center">
<table border="1" cellspacing="0" class="ttable">
    <tr>
        <td width="100px">会议时间</td>
        <td>2022-01-23</td>
    </tr>

    <tr>
        <td>会议地点</td>
        <td>公司二楼会议室</td>
    </tr>
    <tr>
        <td>主持人</td>
        <td>李四</td>
    </tr>
    <tr>
        <td>参加人员</td>
        <td>全体运营部</td>
    </tr>
    <tr>
        <td>会议内容</td>
        <td>
            1月23日下午，公司召开中层干部工作例会。会议由公司总经理李四主持，公司领导及办公室、财务部、合同部、城
            网工作部、运管部、工程部和等有关负责人参加了会议，设备部负责人因其它工作未参加会议。各有关部（室）、对一月
            份的工作完成情况作了交流，对下一步的工作安排进行了研究，等领导就各自分管
            工作发表了意见，董事长就公司面临的形势和公司中心工作提出了要求，李四总经理对二月 份的工作进行了部署</td>
    </tr>
</table>
</div>
</body>
</html>