<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span >修改密码</span></p></div>
<div class="right-content" align="center">
        <form>
            <p>账 号：liushimin@qq.com</p>
            <p>原 密 码 ：<input type="password" width="20px"></p>
            <p>新 密 码 ：<input type="password" width="20px"></p>
            <p>再次输入：<input type="password" width="20px"></p>
            <p><input type="submit" value="提交"></p>
        </form>
</div>
</body>
</html>