<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top">
  <p><span>个人资料</span></p></div>
<div class="right-content">
    <img src="../../static/images/maomao.jpg">
    <p>学号：</p>
    <p>{{my_sno}}</p>
    <p>姓名：</p>
    <P>{{my_name}}</P>
    <p>性别：</p>
    <p>{{my_sex}}</p>
    <p>学院：</p>
    <p>{{my_faculty}}</p>
    <p>班级：</p>
    <p>{{my_class}}</p>
    <p>联系方式：</p>
    <p>qq:17458511111</p></div>
</body>
</html>