<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weekly</title>
    <link href="../../static/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="right-top"><p><span >个人周报</span></p></div>
<div class="right-content" >
        <form>
            <p align="center">姓   名：{{my_name}}</p>
            <article>
                <h3>本周工作总结:</h3>
                <p>1、行政监督：无旷工早退迟到</p>
                <hr>
                <p>2、考勤记录：看参加早会各队人员的人数是否到齐，做好早报记录（迟到、请假、旷工），
                另外新报到的 员工的名字和电话，离职人员的离职情况。</p>
                <hr>
                <p>3、主持安排：月底把支持人表安排好，每天下班前提醒明天主持的人要做好早会的准备</p>
                <hr>

            </article>

        </form>
</div>
</body>
</html>